<ul class="sg-colors">
	<li>
		<span>Theme Color</span>
		<span class="sg-swatch theme-color"></span>
		<span class="sg-label">#337ab4</span>
	</li>
	<li>
		<span>Theme Dark</span>
		<span class="sg-swatch theme-dark"></span>
		<span class="sg-label">#05668d</span>
	</li>
	<li>
		<span>Theme Darker</span>
		<span class="sg-swatch theme-darker"></span>
		<span class="sg-label">#083752</span>
	</li>
	<li>
		<span>Theme Tint</span>
		<span class="sg-swatch theme-tint"></span>
		<span class="sg-label">#ebf2fa</span>
	</li>
	<li>
		<span>Theme Complment</span>
		<span class="sg-swatch theme-comp"></span>
		<span class="sg-label">#a64123</span>
	</li>
	<li>
		<span>Theme Complment Dark ??</span>
		<span class="sg-swatch theme-comp-dark"></span>
		<span class="sg-label">#679436</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span>Theme Gray</span>
		<span class="sg-swatch theme-gray"></span>
		<span class="sg-label">#545555</span>
	</li>
	<li>
		<span>Theme Border</span>
		<span class="sg-swatch border"></span>
		<span class="sg-label">#cccccc</span>
	</li>
	<li>
		<span>Pink</span>
		<span class="sg-swatch pink"></span>
		<span class="sg-label">#FF1493</span>
	</li>
	<li>
		<span>Lime</span>
		<span class="sg-swatch lime"></span>
		<span class="sg-label">#D6df22</span>
	</li>
</ul>